.example-2  .btn-tertiary{
	color: #2b2d42;
	padding:0;
	line-height:80px;
	width:450px;
	margin:auto;
	display:block;
	border:3px solid #ef233c;
	font-size: 2rem;
}

.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
	color: #d90429;
	border-color: #d90429;
}

.example-2 .input-file{
	width:.1px;
	height:.1px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1
}

.example-2 .input-file + .js-labelFile{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 10px;
	cursor:pointer
}

.example-2 .input-file + .js-labelFile .icon:before{
	content:"\f093"
}

.upload_green {
	color:#d90429
}

.load_img {
    border: none;
    display: block;
    margin: 0 auto;
    visibility: hidden;
}


.center-div
{
	 text-align: center;
}

.bot_border {
	border-bottom:2px solid black
}

.myButton {
	background-color:#ef233c;
	border-radius:5px;
	border:1px solid #ef233c;
	display:inline-block;
	cursor:pointer;
	color:#edf2f4;
	font-family:Arial;
	font-size:2rem;
	padding:15px 174px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#d90429;
	color: #edf2f4;
}
.myButton:active {
	position:relative;
	top:1px;
}

.fs1 {
	font-size:4rem;
}

.fs3 {
	font-size:2rem;
}